body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
.container {
        max-width: 1158px;
        padding: 0 15px;
}
}

/*! header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
        }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
        }
    .header-nav {
        display: flex;
        align-items: center;
        }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        }
    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-link.current {
        position: relative;
    }
    .nav-link.current::after {
        content: '';
        position: absolute;
        border-radius: 2px;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
    }
    .contacts {
        font-style: normal;
        display: block;
    }
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .nav-link:hover,
        .nav-link:focus,
        .contacts-link:hover,
        .contacts-link:focus,
        .nav-link.current {
            color: #404bbf;
        }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    .contacts {
        margin-left: auto;
    }
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*! mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #f8fdfd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-nav-link.current {
    color: #404bbf;
}

.mobile-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.mobile-social-list .mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
}

.mobile-soc-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/*! hero */

.hero {
    background-color: #2e2f42;
    display: flex;
    height: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark320.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    max-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
}

@media (min-divice-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url('../images/Dark320-2x.jpg');
    }
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
}

.hero-btn {
    background-color: #4d5ae5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 72px auto 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark768.jpg');
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
    .hero-btn {
        margin: 36px auto 0px;
    }
}

@media (min-divice-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/Dark768-2x.jpg');
    }
}

@media screen and (min-width: 1158px){
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/people-office1x.jpg');
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .hero-title {
        margin: 0 auto;
    }
    .hero-btn {
        margin: 48px auto 0;
    }
}

@media (min-divice-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/people-office2x.jpg');
    }
}

/*! modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-btn,
.modal-close:focus .close-btn {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

/*! form */

.form-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 34px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.form-field-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}

/*! checkbox */

.form-checkbox {
    margin-bottom: 24px;
}

.form-check-label {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-check-text {
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked+.form-check-label .form-check-text {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.send-btn {
    display: block;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin-left: 43px;
    padding: 16px 32px;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
            width: 408px;
            min-height: 584px;
            padding: 72px 24px 24px 24px;
        }
    .send-btn{
        margin-left: 96px;
    }
    }

/*! advantages */

.advantages {
    display: flex;
    padding-top: 96px;
    padding-bottom: 96px;
    align-items: center;
    justify-content: center;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 72px;
}

.advantages-item-icons {
    display: none;
}

.advantages-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .advantages-list {
        gap: 72px 24px;
    }
    .advantages-item {
        width: calc((100% - 24px) / 2);
    }
    .advantages-subtitle {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .advantages-list {
        gap: 24px;
    }
    .advantages-item {
        width: calc((100% - 72px) / 4);
    }
    .advantages-item-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
    .advantages-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }
    .advantages-item-text {
            letter-spacing: 0.01em;
        }
}

/*! team */

.team {
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}
.team-item {
    background-color: #fff;
}

.team-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.team-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 32px 0;
}

.team-list-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.socmedia-icon {
    fill: #f4f4fd;
}

.team-list-social .team-item-icon {
    width: 40px;
    height: 40px;
}

.socmedia-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmedia-link:hover,
.socmedia-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
    }
    .team-item {
        max-width: calc((100% - 24px) / 2);
        }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
    .team-item {
        max-width: calc((100% - 72px) / 4);
        }
}

/*! portfolio */

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    border: none;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 72px 24px;
    }
    .portfolio-item {
        max-width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        gap: 48px 24px;
    }
    .portfolio-item {
        box-shadow: none;
        max-width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}

/*! footer */

.page-footer {
    padding: 96px 0;
    background-color: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.container-page-footer {
    max-width: 320px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    text-align: left;
    margin-top: 16px;
}

.page-footer-logo {
    text-align: center;
}

.footer-social-media {
    max-width: 208px;
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.soc-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
    background-color: #31d0aa;
}

.media-link-icon {
    fill: #f4f4fd;
}

.soc-media-list .soc-media-item {
    width: 40px;
    height: 40px;
}

.footer-subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}

.footer-subscribe-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
    color: #fff;
}

.footer-subscribe-input:focus {
    border: 1px solid #31d0aa;
}

.footer-btn {
    font-weight: 500;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #fff;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .container-page-footer {
        max-width: 768px;
        gap: 72px 24px;
        padding-left: 108px;
        justify-content: start;
    }
    .page-footer-logo {
        text-align: left;
    }
    .footer-text {
        width: 264px;
    }
    .social-text {
        text-align: left;
    }
    .footer-subscribe-form {
        gap: 24px;
    }
    .subscribe-text {
        text-align: left;
        }
    .footer-subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .container-page-footer {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
        flex-wrap: nowrap;
        gap: 0;
        align-items: baseline;
    }
    .page-footer-logo {
        margin-right: 120px;
    }
    .footer-logo {
        display: inline-block;
    }
    .page-footer {
        padding: 100px 0 100px;
    }
    .footer-social-media {
        margin-right: 80px;
    }
    .footer-subscribe-form {
        flex-wrap: nowrap;
    }
}